<!DOCTYPE html>
<html>

<!-- COMIENZO DEL HEAD -->
<%- include ('./partials/head') %>

<!-- COMIENZO BODY -->
<%- include ('./partials/header') %>

<body>
<section class="principal">
    <img class="carrousel" src="images/mesa index.png" alt="carrousel">
    </section>
    <main class="holder">
        <section class="titular">
        <h2>HACÉ TU PEDIDO Y RECIBILO SIN MOVERTE DE TU CASA</h2>
        <h4>Aprovechá nuestros envios gratis y recibí tu producto en 48hs!</h4>
         </section>
    
        <section>
          <h2 class="oferta">ALGUNAS DE NUESTRAS OFERTAS</h2>
    
         <div class = "listado">
           <article>
            <div class="articulo">
               <img src="images/chessecake.jpg" alt="chessecake" class="product_img">
               <h1>40% Off</h1>
            </div>
               <div class="main-article">
                   <p class="precio">$8.500</p>
                   <h4 class="descripcion">Chessecake</h4>
                   <section class="alcarrito">
                    <a href="#">Agregar al Carrito</a>
                    </section>
               </div>
           </article>
    
           <article>
            <div class="articulo">
                <img src="images/Brownie.jpg" alt="Brownie" class="product_img">
               <h1>10% Off</h1>
            </div>
               <div class="main-article">
                   <p class="precio">$8.500</p>
                   <h4 class="descripcion">Brownies</h4>
                   <section class="alcarrito">
                    <a href="#">Agregar al Carrito</a>
                    </section>
               </div>
           </article>
           
           <article>
            <div class="articulo">
                <img src="images/Alfajores Maizena.png" alt="Alfajores Maizena" class="product_img">
               <h1>15% Off</h1>
            </div>
               <div class="main-article">
                   <p class="precio">$4.200</p>
                   <h4 class="descripcion">Alfajores Maizena</h4>
                   <section class="alcarrito">
                    <a href="#">Agregar al Carrito</a>
                    </section>
               </div>
           </article>
          
           <article>
            <div class="articulo">
                <img src="images/Merengue.png" alt="Merengue" class="product_img">
               <h1>25% Off</h1>
            </div>
               <div class="main-article">
                <p class="precio">$9.500</p>
                   <h4 class="descripcion">Merengues</h4>
                   <section class="alcarrito">
                    <a href="#">Agregar al Carrito</a>
                    </section>
               </div>
           </article>
    
        </section>
    </main>
    <section class="ver">
    <a href="/productos">Ver Todos los Productos</a>
    </section>

        <!-- COMIENZO FOLLOW -->
<%- include ('./partials/follow') %>

</body>

<!-- COMIENZO FOOTER -->
<%- include ('./partials/footer') %>

</html>
