<!DOCTYPE html>
<html>

<!-- COMIENZO DEL HEAD -->
<%- include ('./partials/head') %>

<!-- COMIENZO BODY -->
<%- include ('./partials/header') %>

<body>
<main class="holder">   
    <section class="page">   
        <p>Inicio/</p>
        <p class="paget">Nosotros</p>
    </section>
          <section class="principal">
          <img class="carrousel" src="images/familia.torta.png" alt="family">
          </section>
     <h2>Hola!</h2>
       <h4>
     Somos una empresa familiar que le dio vida a Dulce Lourdes, un emprendimiento que tiene como misi칩n hacer m치s dulce la vida de las personas.
     Los encuentros, momentos con amigos y familia son nuestra inspiraci칩n. Por eso nuestro objetivo es que disfruten de comer los mejores productos dulces artesanales dejando una huella para toda la vida.
     Cocinamos con los ingredientes de mejor calidad, amamos los detalles y ponemos mucha pasi칩n en lo que hacemos.
     Te invitamos a descubrir todos los sabores en nuestra tienda online...
     </h4>
</main>

<!-- COMIENZO FOLLOW -->
<%- include ('./partials/follow') %>

</body>

<!-- COMIENZO FOOTER -->
<%- include ('./partials/footer') %>

</html>
