<!DOCTYPE html>
<div class="seguinos">
    <h2>SEGUINOS EN</h2>
      <ul>
        <li><a href="https://www.facebook.com/"><img src="images/facebook.jpg" alt="fb.logo" width="45"></a></li>
        <li><a href="https://www.instagram.com/"><img src="images/instagram.jpg" alt="instagram.logo" width="45"></a></li>
        <li><a href="https://www.tiktok.com/es/"><img src="images/tiktok.jpg" alt="tiktok.logo" width="45"></a></li>
        <li><a href="https://www.youtube.com/"><img src="images/youtube.jpg" alt="youtube.logo" width="45"></a></li>
     </ul>
</div>