<!DOCTYPE html>
<footer>
    <div class="inferior">
        <div class="inferior1">
        <h1 class="dulce">Dulce Lourdes</h1>
        <h4 class="dulce2">Hace 20 años hacer más dulce la vida de las personas Brindando respuesta rápida, personalizada y de calidad a nuestros clientes.</h4>
        <h3 class="linea">______________________________________</h3>    
        </div>
        
        <div class="inferior1">
       <ul class="master1">
        <h3 class="master">NAVEGACIÓN</h3>
        <li><a class="naveg" href="index.html">Inicio</a></li>
        <li><a class="naveg" href="PRODUCTOS.html">Productos</a></li>
        <li><a class="naveg" href="nosotros.html">Nosotros</a></li>
        <li><a class="naveg" href="contacto.html">Contacto</a></li>
        </ul>
        <h3 class="linea">______________________________________</h3>    
        </div>
    
        <div class="inferior1">
        <h3 class="master">MEDIOS DE PAGO</h3>
        <img class="visa" src="images/visa.jpg" alt="visa" width="45">
        <img class="visa"src="images/mastercard.jpg" alt="master" width="45">
        <img class="visa"src="images/efectivo.jpg" alt="cash" width="42">
        <img class="visa"src="images/banelco.jpg" alt="banelco" width="42">
        <img class="visa"src="images/mercado.pago.jpeg" alt="mp" width="43">
        <img class="visa"src="images/pago.facil.jpg" alt="pf" width="43">
        <img class="visa"src="images/rapipago.png" alt="rp" width="43">
        <h3 class="linea">______________________________________</h3>   
        </div>
    
        <div class="inferior2">
        <h3 class="master">CONTACTANOS</h3>
        <section class="dato">
            <img  src="images/phone.jpg" alt="ph" width="35">
            <h4 class="datos"> Teléfono: (011) 4444-4444 </h4>
            </section>
    
            <section class="dato">
                <img src="images/mail.jpg" alt="mail" width="35">
                <h4 class="datos">info@dulcelourdes.com.ar</h4>
                </section>
    
        <section class="dato">
                    <img src="images/whatsapp.png" alt="wp" width="35">
                    <h4 class="datos">(011) 4444-4444 </h4>
                    </section>
    
        <section class="dato">
                    <img src="images/maps.jpg" alt="map" width="35">
                    <h4 class="datos">Santos Dumont 1440 - I. Casanova </h4>
        </section>
        <h3 class="linea">______________________________________</h3>
        </div>
    </div>
    
    <p>Diseñado por Sebastián García © 2024 (Todos los derechos reservados)</p>
    </footer>